input[type="text"] {
  width: 300px;
}

#results ul {
  list-style-type: none;
  padding-left: 0;
}

.status-message {
  font-size: 24px;
  display: none;
}

.search-result {
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: #eee;
  padding: 20px 0 20px 20px;
}

.ig-main-image,
.ig-username,
.ig-avatar,
.ig-location,
.ig-created,
.ig-caption {
  max-width: 95%;
  padding: 10px;
}

.ig-caption {
/* overrides setting above by cascade */
  max-width: 660px; 
}

.ig-avatar {
  /* overrides setting above by cascade */
  max-width: 150px;
}